# Build
target/
*.class
*.jar
*.war

# STS / Eclipse IDE
.metadata/
.settings/
.classpath
.project
.factorypath
bin/
*.launch

# 환경 변수
.env
*.env

# 로그
*.log

# OS
.DS_Store
Thumbs.db

# 기획 문서
PM기획서.pdf
"[ESTAID]해커톤 주제 설명자료_250306(공유) (1).pdf"
*.pdf
*.md
